html,
body {
    margin: auto;
    background-image: url('../dist/rest-img.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-attachment:fixed ;
    width: 100vw;
    height: 100vh;
}

#content {
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}

button {
width: 100px;
height: 50px;
}

#homeName {
    color: red;
    font-size: 100px;
    order: 1;
}

#menu {
    order: 2;
}

#homeHeader {
    
}

#homeCopy {
   
}




#header {
    color: black;
    font-size: 20px;
    margin-top: -20px;
    margin-left: 10px;
}

#copy {
    color: black;
    width: 50%;
    height: auto;
    margin-top: 20px;
    font-size: 15px;
}
