body {
    background-image: url('../dist/rest-img.jpg');
    background-repeat: no-repeat;
    background-size: 100%, auto;
}

#content {
    display: flex;
    flex-direction: column;
}

#name {
    flex: 1;
    color: red;
    font-size: 100px
}

#header {
    color: black;
    font-size: 20px;
    margin-top: -20px;
    margin-left: 10px;
}

#copy {
    color: black;
    width: 50%;
    height: auto;
    margin-top: 20px;
    font-size: 15px;
}
